@import "../node_modules/bulma/sass/utilities/mixins.sass";
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";

.guup {
  &-image {
    width: '100%';
    &-right {
      @include until($tablet) {
        width: 164% !important;
        margin-left: -13%;
      }
    }
    &-left {
      @include until($tablet) {
        width: 164% !important;
        margin-left: -54%;
      }
    }
  }
  &-section {
    &__container {}
    &__home {
      position: relative;
      // padding-top: 50pt;
      // padding-bottom: 50pt;
      .guup {
        &-body {
          // display: flex;
          // align-items: center;
          // height: calc(100vh - 65pt);
          padding-bottom: 50pt;
          padding-top: 50pt;
          @include until($tablet) {
            padding-bottom: 25pt;
            padding-top: 25pt;
          }
          @include from($widescreen) {
            height: calc(100vh - 65pt);
            display: flex;
            align-items: center;
            padding-bottom: 85pt;
          }
          .title {
            &-container {
              height: 100pt;
              position: relative;
              background-color: yellow;
              width: max-content;
            }
            &-animated {
              position: absolute;
              left: 0;
              width: max-content;
            }
          }
        }
        &-banner {
          &-container {
            width: 100%;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto;
            align-items: center;
            justify-content: center;
            position: relative;
            padding-bottom: 50px;
          }
          &-decorator {
            height: 50%;
            position: absolute;
            width: 100%;
            bottom: 0;
            z-index: 0;
          }
        }
      }
      .onboarding-art {
        transform: rotate(15deg);
      }
    }
    &__custom {
      padding-bottom: 50pt;
    }
    &__features {
      padding-top: 50pt;
      @include until($tablet) {
        padding-top: 25pt;
      }
      // padding-bottom: 50pt;
      // margin-bottom: 100pt;
      .live-art {
        transform: rotate(-15deg);
      }
      .burble-1 {
        position: absolute;
        top: 0;
        right: 50pt;
      }
      .burble-2 {
        position: absolute;
        bottom: 0;
        left: 50pt;
      }
      .burble-3 {
        position: absolute;
        top: -20pt;
        right: -50pt;
      }
      .burble-4 {
        position: absolute;
        bottom: -20pt;
        left: -50pt;
      }
      .comments {
        position: absolute;
        transform: rotate(30deg);
        top: 25%;
        left: 25%;
        z-index: 9999;
      }
    }
    &__mkt {
      // background-color: #F9ECFF;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
      @include until($tablet) {
        height: 100vh;
      }
    }
    &__footer {
      background-color: #FFFFFF;
      padding-top: 50pt;
      padding-bottom: 50pt;
    }
  }
}